@import "uikit.min.css";

.collapse-expand {
  color: #fff;
  margin-right: 2rem;
}

.collapse-expand:hover {
  color: #fff;
}

#tes-worklog-footer {
  pointer-events: none;
  background: none;
  border: none;
}

#tes-worklog-footer .btn__worklog-time {
  pointer-events: auto;
}
