.tes-fdf-worklog-footer {
  pointer-events: none;
  background: none !important;
  border: none !important;
}

.tes-fdf-worklog-footer .btn__worklog-time {
  pointer-events: auto;
}

.tes-fdf-table {
  margin-bottom: 2.5rem;
}